body {
    font-family: 'Oswald', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main Section Styling */
main {
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 36, 36);
    color: white;
    flex: 1;
}

/* Navigation Styling */
#active {
    color: red;
}

nav {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    /* padding: 20px; */
    margin: 0;
    margin-top: -30px;
}

.logo {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.logo p:nth-of-type(1) {
    font-size: 100px;
    margin: 0;
    margin-left: -5px;
}

.logo p:nth-of-type(2) {
    margin: 0;
    margin-top: -20px;
    font-size: 30px;
    text-align: center;
}

.logo span {
    margin-left: -45px;
    color: red;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: rgb(58, 57, 57);
    color: white;
    padding: 20px;
    flex: 1;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-bar a:hover {
    color: red;
    transition: 0.3s ease-in-out;
}

/* Section Styling */
h1 {
    font-size: 40px;
}

hr {
    color: red;
    border: 1px solid red;
    width: 100%;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
}

li {
    color: red;
}

.list {
    text-decoration: none;
    color: white;
}

.list:hover {
    color: red;
    transition: 0.3s ease-in-out;
}


/* Footer Styling */
footer {
    color: white;
    background-color: black;
    padding: 25px 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.fa-github {
    color: white;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    padding-left: 5px;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}
